body {
  overflow: scroll;
  height: 100%;
  padding: 0px;
  background-color: #f0f0f0;
  margin: 0;
  font-family: "Roboto Slab", Georgia, "Times New Roman", serif;
}
div.container {
  padding: 32px;
  background-color: white;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
div.logo {
  float: right;
  margin: 8px;
}
pre.logo {
  font-size: 8px;
}
a.quote {
  font-style: italic;
  quotes: """ """;
  text-decoration: none;
}
a.quote::before {
  content: open-quote;
}
a.quote::after {
  content: close-quote;
}
.main {
  padding: 32px;
  max-width: 800px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
pre.main {
  font-size: 8px;
}
h1 {
  color: #606060;
  margin-block-start: 0px;
}
h2 {
  color: #808080;
}
h3 {
  color: #808080;
}
p {
  font-size: 14pt;
}
a {
  color: #606060;
}
a:hover {
  color: #F6A159;
}
@media print {
  div.utterances { display: none; }
  div.logo { display: none; }
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li {
  font-size: 24pt;
}
a.home {
  text-decoration: none;
}
a.home:hover {
  text-decoration: none;
}